<div class="sbcContainer">
    <section class="progressBarContainer">
        <div id="sbcProgressBar" class="progressBar {{progressBar.class}}" style="width: {{progressBar.width}}%;">
            <div id="sbcProgressValue" class="progressValue">{{progressBar.text}}</div>
        </div>
    </section>
    <section id="sbcHeaders" class="flexrow">
        <div class="sbcHeader">
            <div>
              {{localize "SBCPF1.templates.enterStatblockToConvert"}}
            </div>
            <div>
                For Bugs and Issues, please visit my <a href="https://gitlab.com/foundryvtt_pathfinder1e/pf1-statblock-converter/-/issues" target="_blank">Gitlab</a>.
            </div>
            <div>
                For any donations, please visit my <a href="https://www.patreon.com/pathfindersforge" target="_blank">Patreon</a> or <a href="https://www.buymeacoffee.com/fairstrides" target="_blank">buy me a coffee</a>.
            </div>
        </div>
        <div class="sbcHeader sbcButtons">
            <div class="actorTypeToggle">Actor Type:
                {{radioBoxes "actorType" choices checked=actorType}}
            </div>
            <div class="flexrow">
                <button id="sbcImportButton" {{disabled (not progressBar.ready)}}>{{localize "SBCPF1.templates.import"}}</button>
                <button id="sbcResetButton">{{localize "SBCPF1.templates.reset"}}</button>
            </div>
        </div>
    </section>
    <section class="sbcInputContainer">
        <div class="sbcTitle">{{localize "SBCPF1.templates.input"}}</div>
        <div class="sbcInputArea">
            <div id="sbcBackdrop">
                <div id="sbcHighlights" class="sbcHighlights flexcol">
                    {{#each errorHighlights}}
                        {{#if value}}
                            {{#if marked}}
                                <div class="lineNumbers">{{messageBefore}}<span class="marked">{{value}}</span>{{messageAfter}}</div>
                            {{else}}
                                <div class="lineNumbers">{{value}}</div>
                            {{/if}}
                        {{else}}
                            <div class="lineNumbers"><br></div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <textarea class="sbcInput" id="sbcInput" name="input" form="statBlockInputForm" placeholder="{{localize "SBCPF1.templates.inputPlaceholder"}}" wrap="hard" cols="1" spellcheck="false">{{input}}</textarea>
        </div>
    </section>
    <section class="sbcPreviewContainer">
        <div class="sbcTitle">{{localize "SBCPF1.templates.preview"}}</div>
        <div class="sbcPreview" id="sbcPreview">{{{preview}}}</div>
    </section>
    <section class="sbcErrorContainer">
        {{!-- <div class="sbcErrorTitle"></div> --}}
        <div id="sbcErrors">
            {{#if errors.length}}
                There were {{errors.length}} issue(s) parsing the provided statblock:
                {{#each errors}}
                    <div draggable="false" class="sbcErrors sbcError-{{@index}}"><span id="sbcError-{{@index}}" class="identicalErrorIndicator {{#if duplicates}}active{{/if}}">{{duplicates}}</span>{{message}}</div>
                {{/each}}
            {{/if}}
        </div>
    </section>
</div>